<!DOCTYPE html>
<html>
<head>
  <style>
    .perso_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0px 40px 40px 40px;
      width: 300px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .perso_card:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }

    .avatar {
      border-radius: 0px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
    }

    .champ_name {
      padding-left: 5px;
      font-size: 25px;
      color: #042a3f;
    }

    .level {
      color: white;
      font-size: 20px;
      background-color: #042a3f;
      padding: 5px;
      border-radius: 0px 0px 0px 10px;
      padding-right: 20px;
    }
    .avatar_container {
      width: 100%;
      height: 300px;
      border-radius: 0px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
      display: flex;
      align-items: start;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body>
  <div class="perso_card" onclick="window.location.href='/champions/<%= champion.id %>'"
    style="<%= small ? 'width: 200px; height: 200px' : '' %>">
    <div class="avatar_container" style="background-image: url('<%= "#{champion.avatar.url}"%>');">
      <div class="champ_name">
        <%= champion.name %>
      </div>
      <div class="level">
        Lvl:  <%= champion.level %>
      </div>
    </div>
  </div>
</body>
</html>
