<!DOCTYPE html>
<html>
<head>
  <title>Liste des personnages</title>
  <style>
    .bg {
      background-image: url("https://media.discordapp.net/attachments/1128386944578093217/1157570887898365962/pewniett_center_of_an_arena_cartoon_wondorfull_colors_game_coll_ff957c2e-b263-4bd0-9185-f97f4dd0607f.png?ex=65191766&is=6517c5e6&hm=cc76d02139f7509c08d8e1f83703769accf52662d29f014ff5be6d951fdfd401&=&width=1670&height=936");
      background-size: cover;
      background-position: center;
      /* overflow: hidden; */
    }

    .title {
      text-align: center;
      color: white;
      font-size: 50px;
      padding-top: 50px;
    }


    .perso_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0px 40px 40px 40px;
      width: 200px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
    }

    .input {
      width: 300px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid black;
      text-align: center;
      cursor: pointer;
    }
    .input:hover {
      /* background-color: #a3bcc9; */
      border: 2px solid #5295BA;
    }

    .perso_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .competencies_container {
      margin-top: 10px;
      width: 100%;
      height: 300px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: space-around;
      border-radius: 20px;
      justify-content: center;
    }
    
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 20%;
      margin-bottom: 20px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
    }

    .button {
      width: 200px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #042a3f;
      text-align: center;
      margin-top: 20px;
      color: white;
      margin-left: 42%;
      cursor: pointer;
      background-color: #5295BA;
    }
    .button:disabled {
      background-color: #a3bcc9;
      border: 2px solid #a3bcc9;
    }
    .button:hover {
      background-color: #a3bcc9;
      border: 2px solid #5295BA;
    }

    .level {
      color: white;
      font-size: 20px;
      background-color: #042a3f;
      padding: 5px;
      border-radius: 0px 0px 0px 10px;
      padding-right: 20px;
    }


    .champ_name {
      padding-left: 5px;
      font-size: 25px;
      color: #042a3f;
    }


    .avatar_container {
      width: 100%;
      height: 200px;

      border-radius: 0px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
      display: flex;
      align-items: start;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
      background-size: cover;
      background-position: center;
    }


    .create_new {
      width: 300px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #042a3f;
      text-align: center;
      margin-top: 20px;
      color: white;
      margin-left: 42%;
      cursor: pointer;
      background-color: #5295BA;
      text-decoration: none;
      padding-top: 10px;
    }

  </style>
</head>
<body class="bg">
  <h1 class="title">Choisissez vos champions</h1>

  <a class="create_new" href="/champions">Créer un nouveau champion</a>

  <div class="container">
    <div class="perso_card">
      <div class="avatar_container" style="background-image: url('<%= "#{@champions.first.avatar.url}"%>');">
          <div class="champ_name">
            <%= @champions.first.name %>
          </div>
          <div class="level">
            Lvl:  <%= @champions.first.level %>
          </div>
        </div>
      <select id="personnage1" class="input" placeholder="Champion 1">
        <% @champions.each do |perso| %>
          <option value="<%= "#{perso.name}"%>"><%= "#{perso.name}"%></option>
        <% end %>
      </select>
    </div>

    <div class="perso_card">
      <div class="avatar_container" style="background-image: url('<%= "#{@champions.second.avatar.url}"%>');">
          <div class="champ_name">
            <%= @champions.second.name %>
          </div>
          <div class="level">
            Lvl:  <%= @champions.second.level %>
          </div>
        </div>
      <select id="personnage2"  class="input" placeholder="Champion 2">
        <% @champions.each do |perso| %>
          <option value="<%= "#{perso.name}"%>"><%= "#{perso.name}"%></option>
        <% end %>
      </select>
    </div>
  </div>
  <button id="combattez" class="button" disabled>Combattre</button>

  <script>
    const personnage1Input = document.getElementById('personnage1');
    const personnage2Input = document.getElementById('personnage2');
    const combattezButton = document.getElementById('combattez');
    const champImage = document.getElementById('avatar1');
    
    // Vérifie si les deux inputs ont une valeur pour activer le bouton "Combattre"
    function checkInputs() {
      if (personnage1Input.value && personnage2Input.value) {
        combattezButton.disabled = false;
      } else {
        combattezButton.disabled = true;
      }
    }

    // Ajoute un écouteur d'événement aux inputs

    personnage1Input.addEventListener('change', function() {
      // Retrieve the selected champion value

      const selectedChampion1 = @champions.find(perso => perso.name === personnage2Input.value);
      champImage.src = selectedChampion1.avatar.url;

      console.log(selectedChampion1);
      // Perform any desired action with the selected champion value
      console.log('Selected champion1: ' + selectedChampion1);
    });

    personnage2Input.addEventListener('change', function() {
      // Retrieve the selected champion value
      const selectedChampion2 = personnage2Input.value;

      // Perform any desired action with the selected champion value
      console.log('Selected champion2: ' + selectedChampion2);
    });

  </script>
</body>
</html>
