<!DOCTYPE html>
<html>
<head>
  <title>Liste des personnages</title>
  <style>
    .bg {
      background-image: url("https://media.discordapp.net/attachments/1128386944578093217/1157570887898365962/pewniett_center_of_an_arena_cartoon_wondorfull_colors_game_coll_ff957c2e-b263-4bd0-9185-f97f4dd0607f.png?ex=65191766&is=6517c5e6&hm=cc76d02139f7509c08d8e1f83703769accf52662d29f014ff5be6d951fdfd401&=&width=1670&height=936");
      background-size: cover;
      background-position: center;
      /* overflow: hidden; */
    }

    .title {
      text-align: center;
      color: white;
      font-size: 50px;
      padding-top: 50px;
    }


    .perso_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0px 40px 40px 40px;
      width: 300px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-around;
      padding: 50px;
    }

    .input {
      width: 300px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid black;
      text-align: center;
      cursor: pointer;
    }
    .input:hover {
      /* background-color: #a3bcc9; */
      border: 2px solid #5295BA;
    }


    .perso_card:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }



    .competencies_container {
      margin-top: 10px;
      width: 300px;
      height: 400px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: flex;
      justify-content: space-around;
      border-radius: 20px;
      justify-content: center;
    }
    
    .avatar {
      border-radius: 0px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
    }

    .champ_name {
      padding-left: 5px;
      font-size: 25px;
      color: #042a3f;
    }

    .button {
      width: 200px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #042a3f;
      text-align: center;
      margin-top: 20px;
      color: white;
      margin-left: 42%;
      cursor: pointer;
      background-color: #5295BA;
    }
    .button:disabled {
      background-color: #a3bcc9;
      border: 2px solid #a3bcc9;
    }
    .button:hover {
      background-color: #a3bcc9;
      border: 2px solid #5295BA;
    }

    .attribute {
      width: 100%;
      font-size: 15px;
      flex-direction: row;
      display: flex;
      justify-content: space-evenly;
      color: #042a3f;
    }


    .level {
      color: white;
      font-size: 20px;
      background-color: #042a3f;
      padding: 5px;
      border-radius: 0px 0px 0px 10px;
      padding-right: 20px;
    }
    .avatar_container {
      width: 100%;
      height: 300px;

      border-radius: 0px 40px 40px 40px;
      background-color: rgba(255, 255, 255, 0.4);
      border: 2px solid #042a3f;
      display: flex;
      align-items: start;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body class="bg">
  <a href="/">Home</a>
  <h1 class="title"><%= @champion.name %></h1>

  <div class="container">
      <%= render 'components/champion_card', small: false, champion: @champion %>
      <div class="competencies_container">
        <% @champion.attributes.except("id", "name", "created_at", "updated_at").each do |k, v| %>
            <div class="attribute">
              <p style="font-weight: bold; justify-self: flex-start;">
                <%= "#{k} :" %>
              </p>
              <p>
                <%= "#{v}" %>
              </p>
            </div>
        <% end %>
      </div>

      <%= render 'components/champion_equipments', champion: @champion %>
  </div>
</body>
</html>
